li { cursor: pointer; }

.about-container {
  line-height: 100px;
  height:0px
}

.aboutmetext{
  margin-left: 200px
}

.icon{
  height: 35px;
  line-height: 30px;
  padding: 3px;
  margin-bottom: 10px;
}

.jumbotron{
  height: 105px;
  width: 1000px;
  padding-top: initial;
}
