<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="jumbotron" style="height: 150px; width: 1000px">
    <h3>Welcome to my website.</h3>
    <div class="row justify-content-md-right align-items-right">
        <div>
          <div class="col-md-12" style="text-align: right;"><span class="text-secondary"><b>Simon </b></span><span class="text-secondary">Norbert</span></div>
        </div>
    </div>
  </div>



  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="1" class="nav-link active" [ngClass]="{'active': selectedIndex == 1}" (click)="setSelected(1)">About me</a>
    </li>
    <li class="nav-item">
      <a id="2" class="nav-link" [ngClass]="{'active': selectedIndex == 2}" (click)="setSelected(2)">Education</a>
    </li>
    <li class="nav-item">
      <a id="3" class="nav-link" [ngClass]="{'active': selectedIndex == 3}" (click)="setSelected(3)">Skills</a>
    </li>
    <li class="nav-item">
      <a id="4" class="nav-link" [ngClass]="{'active': selectedIndex == 4}" (click)="setSelected(4)">Abilities</a>
    </li>
    <li class="nav-item">
      <a id="5" class="nav-link" [ngClass]="{'active': selectedIndex == 5}" (click)="setSelected(5)">Employment History</a>
    </li>
  </ul>

  <div *ngIf="selectedIndex==1;">
    <div class="list-group">
        <p class="about-container">
          <img src="assets/images/me.png" height="300px" style="border: 5px solid #DDDDDD;">
        </p>
        <div *ngFor="let info of personal">
          <h3 class="aboutmetext">{{info.name}}</h3>
        </div>
        <h3 class="aboutmetext"><img class="githubimg" src="assets/images/gmail.png"> Email:<a href="mailto:simonorbi97@gmail.com"> simonorbi97@gmail.com</a></h3>
        <h3 class="aboutmetext"><img class="githubimg" src="assets/images/github.png"> Github: <a href="https://github.com/norby97">Link</a></h3>
        <h3 class="aboutmetext"><img class="githubimg" src="assets/images/linkedin.png"> LinkedIn: <a href="https://github.com/norby97">Link</a></h3>
        <h3 class="aboutmetext"><a href="assets/valami.pdf" download>My Curriculum Vitae</a></h3>
    </div>
  </div>

  <div *ngIf="selectedIndex==2;">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Kölcsey Ferenc National College, Satu Mare, Mathematics-Informatics profile
        <span class="badge badge-dark badge-pill">High School</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Babes Bolyai University, Cluj-Napoca, Faculty of Mathematics and Computer Science, Computer Science, Currently enrolled
        <span class="badge badge-dark badge-pill">Superior studies</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Babes Bolyai University, Cluj-Napoca, Faculty of Mathematics and Computer Science, Master Degree
        <span class="badge badge-warning badge-pill">Future Plans</span>
      </li>
    </ul>
  </div>

    <div *ngIf="selectedIndex==3;">
      <div class="row">
      <div class="col-md-4">
        <h3>IDE Tools & Frameworks</h3>
        <div *ngFor="let ide of ides">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ide.name}}
              <span class="badge badge-success badge-pill">{{ide.exp}}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <h3>Programming languages</h3>
        <div *ngFor="let lang of languages">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">{{lang.name}}
              <span class="badge badge-danger badge-pill">{{lang.exp}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <h3>Database/Operating Systems</h3>
        <div *ngFor="let system of systems">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">{{system.name}}
              <span class="badge badge-warning badge-pill">{{system.exp}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedIndex==4;" >
    <div class="row">
      <div *ngFor="let ability of abilities" class="col-md-6 ">
        <div class="alert alert-dismissible mt-2 + {{ability.style}}">
          <strong>{{ability.desc}}</strong>
        </div>
      </div>

    </div>
</div>
